@use "node_modules/@ministryofjustice/frontend/moj/all";

@use "node_modules/govuk-frontend/dist/govuk" as *;

.sirius-header {
  .govuk-header__link {
    &[aria-current="page"] {
      display: none;
    }
  }

  .hide {
    display: none;
  }

  .govuk-header {
    max-width: none !important;
    padding: 0 govuk-spacing(3);
  }

  .opg-main-nav-container {
    float: right !important;
  }

  .moj-primary-navigation {
    padding: 0 govuk-spacing(5) !important;
  }

  /* 19px font for menu items in header */
  .govuk-header__navigation-item a {
    font-size: 1.1875rem !important;
    font-weight: 500;
  }

  .app-\!-embedded .app-\!-embedded-hide {
    display: none;
  }

  /* centre title in header and right-align menu */
  @media (min-width: 769px) {
    .govuk-header__container {
      display: grid;
      grid-template-columns: [one] .5fr [two] auto [three] .5fr [end];
      margin-right: govuk-spacing(3) !important;
      margin-left: govuk-spacing(3) !important;

      .govuk-header__logo {
        width: auto;
        margin-bottom: 0 !important;
        padding-right: govuk-spacing(2) !important;
        padding-left: govuk-spacing(2) !important;
      }

      .govuk-header__service-name {
        justify-self: center;
      }

      .govuk-header__navigation {
        justify-self: right;
      }
    }
  }

  #feedback-span {
    padding-left: 35px !important;
  }

}

.govuk-header__link:link,.govuk-header__link:visited {
  color: #fff
}

.govuk-header__link:hover,.govuk-header__link:active {
  color: hsla(0,0%,100%,.99)
}

.govuk-header__link:focus {
  color: #0b0c0c
}

.govuk-header__link {
  text-decoration: none
}

.govuk-header__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: .1578em
}

.govuk-header__link:focus {
  outline: 3px solid rgba(0,0,0,0);
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
  text-decoration: none
}

.govuk-header__link--homepage {
  display: inline-block;
  margin-right: 10px;
  font-size: 30px
}

.govuk-header__link--homepage:link,.govuk-header__link--homepage:visited {
  text-decoration: none
}

.govuk-header__link--homepage:hover,.govuk-header__link--homepage:active {
  margin-bottom: -3px;
  border-bottom: 3px solid
}

.govuk-header__link--homepage:focus {
  margin-bottom: 0;
  border-bottom: 0
}

.govuk-header__service-name {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.125rem;
  line-height: 1.1111111111
}

.govuk-header__navigation-item a {
  font-size: .875rem;
  line-height: 1.1428571429
}

.govuk-header__navigation-item {
  padding: 10px 0;
  border-bottom: 1px solid #2e3133
}

@media(min-width: 48.0625em) {
  .govuk-header__navigation-item {
    display:inline-block;
    margin-right: 15px;
    padding: 5px 0;
    border: 0
  }
}

.govuk-header__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none
}

.govuk-header__navigation-list[hidden] {
  display: none
}

@media(min-width: 48.0625em) {
  .govuk-header__navigation {
    margin-bottom:10px
  }

  .govuk-template--rebranded .govuk-header__navigation {
    margin-bottom: 0;
    padding: 22px 0 8px
  }
}

@media(min-width: 48.0625em) {
  .govuk-template--rebranded .govuk-header__service-name+.govuk-header__navigation {
    padding-top:0;
    padding-bottom: 15px
  }
}
