@use "node_modules/@ministryofjustice/frontend/moj/all" as * with (
  $moj-assets-path: "../web/static/assets/"
);

@use "node_modules/govuk-frontend/dist/govuk" as *;

.sirius-header {
  .govuk-header__link {
    &[aria-current="page"] {
      display: none;
    }
  }
}

  .govuk-header__container--full-width {
    padding: 0 15px;
    border-color: #1d70b8
  }

  .govuk-header__container--full-width .govuk-header__menu-button {
    right: 15px
  }

  .govuk-header__container::after {
    content: "";
    display: block;
    clear: both
  }

  @media(min-width: 769px) {
    .sirius-header .govuk-header__container {
      display:grid;
      grid-template-columns: [one] .5fr [two] auto [three] .5fr [end];
      margin-right: 15px !important;
      margin-left: 15px !important
    }

    .sirius-header .govuk-header__container .govuk-header__logo {
      width: auto;
      margin-bottom: 0 !important;
      padding-right: 10px !important;
      padding-left: 10px !important
    }

    .sirius-header .govuk-header__container .govuk-header__service-name {
      justify-self: center
    }

    .sirius-header .govuk-header__container .govuk-header__navigation {
      justify-self: right
    }
  }

  @media(min-width: 769px) {
    .sirius-header .govuk-header__container {
      display:grid;
      grid-template-columns: [one] .5fr [two] auto [three] .5fr [end];
      margin-right: 15px !important;
      margin-left: 15px !important
    }

    .sirius-header .govuk-header__container .govuk-header__logo {
      width: auto;
      margin-bottom: 0 !important;
      padding-right: 10px !important;
      padding-left: 10px !important
    }

    .sirius-header .govuk-header__container .govuk-header__service-name {
      justify-self: center
    }

    .sirius-header .govuk-header__container .govuk-header__navigation {
      justify-self: right
    }
  }


  .govuk-header__container {
    /* position:relative; */
    /* margin-bottom:-10px; */
    /* padding-top:10px; */
    border-bottom: 10px solid #1d70b8;
  }

  .govuk-template--rebranded .govuk-header__container {
    margin-bottom: 0;
    padding-top: 0;
    border-bottom: none
  }

  .govuk-header--full-width-border {
    border-bottom-color: #1d70b8
  }

  .govuk-header--full-width-border .govuk-header__container {
    border-bottom-color: rgba(0,0,0,0)
  }


  .govuk-header {
    border-bottom: 1px solid rgba(0,0,0,0);
    --govuk-text-colour: var(--govuk-inverse-text-colour, #ffffff);
    color: var(--govuk-text-colour, #0b0c0c);
    background: var(--govuk-brand-colour, #1d70b8)
  }

  @media(min-width: 40.0625em) {
    .sirius-header .app-\!-embedded .govuk-width-container {
      margin-left:15px;
      margin-right: 15px
    }

    .sirius-header .app-\!-embedded .govuk-main-wrapper {
      padding-top: 20px;
      padding-bottom: 20px
    }
  }

  @media(min-width: 769px) {
    .sirius-header .govuk-header__container {
      display:grid;
      grid-template-columns: [one] .5fr [two] auto [three] .5fr [end];
      margin-right: 15px !important;
      margin-left: 15px !important
    }

    .sirius-header .govuk-header__container .govuk-header__logo {
      width: auto;
      margin-bottom: 0 !important;
      padding-right: 10px !important;
      padding-left: 10px !important;
    }

    .sirius-header .govuk-header__container .govuk-header__service-name {
      justify-self: center
    }

    .sirius-header .govuk-header__container .govuk-header__navigation {
      justify-self: right
    }
  }


  .hide {
    display: none;
  }

  .govuk-header {
    max-width: none !important;
    padding: 0 govuk-spacing(3);
  }

  .opg-main-nav-container {
    float: right !important;
  }

  .moj-primary-navigation {
    padding: 0 govuk-spacing(5) !important;
  }

  /* 19px font for menu items in header */
  .govuk-header__navigation-item a {
    font-size: 1.1875rem !important;
    font-weight: 500;
  }

  .app-\!-embedded .app-\!-embedded-hide {
    display: none;
  }

  /* centre title in header and right-align menu */
  @media (min-width: 769px) {
    .govuk-header__container {
      display: grid;
      grid-template-columns: [one] .5fr [two] auto [three] .5fr [end];
      margin-right: govuk-spacing(3) !important;
      margin-left: govuk-spacing(3) !important;

      .govuk-header__logo {
        width: auto;
        margin-bottom: 0 !important;
        padding-right: govuk-spacing(2) !important;
        padding-left: govuk-spacing(2) !important;
      }

      .govuk-header__service-name {
        justify-self: center;
      }

      .govuk-header__navigation {
        justify-self: right;
      }
    }
  }

#feedback-span {
  padding-left: 35px !important;
}
