# OS
.DS_STORE
#  terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
secrets.auto.tfvars
# editors
.vscode/
.idea
*.iml
# envs
.env
venv/
env/
/main
node_modules
package-lock.json
cypress/screenshots
cypress/videos