
    <!DOCTYPE html>
    <html lang="en" class="govuk-template app-html-class">
    <head>
        <meta charset="utf-8" />
        <title>
                Sirius - Supervision
        </title>
        <link rel="stylesheet" href="{{.StaticBase}}/all.css" />
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta name="api-base-uri" />
        <meta name="theme-color" content="blue" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    </head>

    <body>
    <h1> Page body is here</h1>
    {{template "header.gotmpl" .}}
    </body>
    </html>